body {
  font-family: "input_mono_regular", courier, monospace;
  font-size: 16px;
  transition: background 500ms;
  overflow: hidden;
  background-color: #111;
  color: #eee;
  margin: 16px;
  width: 400px;
}

*:focus {
  outline: none;
}

input,
select {
  background-color: #222;
  color: #ddd;
  border: 0;
  font-size: 20px;
  margin: 6px;
  padding: 6px;
}

input {
  width: 310px;
}

select {
  width: 320px;
}

input:hover,
select:hover {
  background-color: #333;
}

input[type="button"]:active {
  background-color: #444;
}

.buttons input {
  width: 172px;
}
