@font-face {
    font-family: 'jgs7';
    src: url('jgs7.woff2') format('woff2'),
        url('jgs7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: 'jgs';
    src: url('jgs.woff2') format('woff2'),
        url('jgs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: 'jgs_Font';
    src: url('jgs_Font.woff2') format('woff2'),
        url('jgs_Font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: 'jgs5';
    src: url('jgs5.woff2') format('woff2'),
        url('jgs5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

