body {
  background-color: #242424;
  color: #ccc;
  margin: 0;
  font-family: monospace;
}

.slots {
  display: flex;
  width: 100vw;
  height: 80vh;
}

.slot {
  flex-grow: 1;
  margin: 0.25em;
  width: 50%;
}

.slot .title {
  font-weight: 600;
}
