@font-face {
  font-family: "Syne Mono";
  src:
    url("SyneMono-Regular.woff2") format("woff2"),
    url("SyneMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 95%;
}
