@charset "utf-8";

$body-background-color: #101010;
$body-color: #bbbbbb;
$strong-color: #cccccc;

@import "../../node_modules/bulma/bulma.sass";

html {
  background-color: $body-background-color;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.title {
  color: $strong-color;
}

.subtitle {
  color: $body-color;
}

.editor .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.flash-selection {
  background-color: #ff7;
  color: #000;
}

.status {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  text-align: right;
  color: #fefefe;
  z-index: 1000;
  font-family: monospace;
  font-weight: bold;
}

.users-list {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  font-size: 0.9em;
  text-align: right;
  color: #fefefe;
  z-index: 1000;
  font-family: monospace;
  font-style: italic;

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.target-select {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.target-messages-pane {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00000090;
  color: #888;
  z-index: 1000;
  font-family: monospace;
  font-size: 0.8em;
  height: 30%;
  width: 100%;

  ol {
    list-style: none;
    padding: 0;

    li {
      pre {
        padding: 0;
        background-color: transparent;
        color: $body-color;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
      }
      pre.error {
        color: $red;
      }
    }
  }
}
