@charset "utf-8";

$body-background-color: #101010;
$body-color: #bbbbbb;
$strong-color: #cccccc;

@import "../../node_modules/bulma/bulma.sass";

html {
  background-color: $body-background-color;
}

.title {
  color: $strong-color;
}

.subtitle {
  color: $body-color;
}

.editor .CodeMirror {
  height: 400px;
}

// .editor .CodeMirror {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
// }

// Transparent background
.CodeMirror {
  background-color: rgba(0, 0, 0, 0) !important;
}

.CodeMirror .CodeMirror-line span {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 0;
}

.flash-selection {
  background-color: #ff7;
  color: #000;
}

.status {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  text-align: right;
  color: #fefefe;
  z-index: 1000;
  font-family: monospace;
  font-weight: bold;
}

.users-list {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  font-size: 0.9em;
  text-align: right;
  color: #fefefe;
  z-index: 1000;
  font-family: monospace;
  font-style: italic;

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.target-select {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1001;
}

.target-messages-pane {
  position: absolute;
  left: 0;
  background: #00000090;
  color: #888;
  z-index: 1000;
  font-family: monospace;
  font-size: 0.8em;
  height: 30em;
  width: 100%;

  .scrollable-content {
    height: 100%;
    overflow: auto;
  }

  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.maximized {
    height: 100%;
  }

  .button-group {
    float: right;

    a {
      font-size: 16px;
      margin: 0 0.125em;
      color: #888;
    }

    a:hover {
      color: #fefefe;
    }

    margin-right: 0.125em;
  }

  ol {
    list-style: none;
    padding: 0;

    li {
      pre {
        padding: 0;
        background-color: transparent;
        color: $body-color;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
      }
      pre.error {
        color: $red;
      }
    }
  }
}
