@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Disable the rubberbanding effect on MacOS when overscrolling */
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51 65 85) !important;
}
