@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
  background: rgb(51, 65, 85, 30%) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 65, 85, 70%) !important;
}
