@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-corner {
  color: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgb(51, 65, 85, 30%) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 65, 85, 70%) !important;
}

.text-stroke {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

:root {
  --foreground: #fff;
}
