
@font-face {
  font-family: 'Fira Code VF';
  src: url('FiraCode-VF.woff2') format('woff2-variations'),
       url('woff/FiraCode-VF.woff') format('woff-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
  size-adjust: 87%;
}